<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VidE - {{ title }}</title>
    {% block css %}
    {% endblock %}
    <!-- remove favicon.ico error -->
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div id="container">
        <nav>
            <!-- nav items -->
            <ul>
                <li>
                    <a href="{{ url_for('index') }}" class="logo">VidE</a>
                </li>
                <li>
                    <a href="{{ url_for('index') }}" id="home" class="menu-link">HOME</a>
                </li>
                <li>
                    <a href="{{ url_for('archive') }}" id="archive" class="menu-link" >ARCHIVE</a>
                </li>
            </ul>
            <!-- upload button -->
            <form id="uploads-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <label id="input-label" for="input-file">Upload New Video</label>
                <input type="file" id="input-file" name="video" onchange="this.form.submit();" accept="video/mp4"/>
            </form>
        </nav>


        {% block container %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% endblock %}

        {% block js %}
        {% endblock %}
    </div>
</body>
</html>