venv/
project/static/storage/*
!project/static/storage/*.md
project/dump.rdb

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_Store

test/
requirements.backup
dump.rdb
stt-sound-effect-0410-177992bab22f.json