<!-- waveform element -->
<div id="waveform_player">
    <div id="waveform"></div>
    <!-- 일단 재생버튼은 숨겨놓을게.. class에 hide 지우면 나타남~ -->
    <button id="play" class="hide">Play</button>
</div>

<!-- main wavesurfer.js lib -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
<!-- wavesurfer.js regions -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
<!-- our waveform.js -->
<script src="{{ url_for('static', filename='js/waveform.js') }}" type="text/javascript"></script>
<!-- call loader -->
<script type="text/javascript">
    load_waveform('{{ url_for('static', filename='temp/'+file.name) }}')
</script>