<!-- waveform element -->
<div id="waveform_player">
    <div id = "waveform" onload="load_wav('hello')"></div>
    <button id = "play" class="centre">Play</button>
</div>

<!-- script for waveform -->
<script type="text/javascript">
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        progressColor: '#E2B026',
        cursorColor: 'transparent',
        waveColor: '#333533'
    });

    var path = "{{ url_for('static', filename='temp/'+file.name) }}";
    wavesurfer.load(path);

    var analyser = wavesurfer.backend.analyser,
        frequencyData = new Uint8Array(analyser.frequencyBinCount),
        play = document.getElementById('play');

    //play button click
    play.addEventListener('click', function() {

        wavesurfer.playPause();

        if (this.textContent === 'Play') {
        this.textContent = "Pause";
        } else {
        this.textContent = "Play";
        }
    });

    wavesurfer.on('audioprocess', function(e) {
        analyser.getByteFrequencyData(frequencyData);
        var w = frequencyData[0] * 0.05;
    });
</script> d