{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_effect.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
{% endblock %}


<!-- header : video -->
{% block video %}
    <video id="input-video" src="{{ url_for('static', filename=video.src) }}" width = "280" height = "160" controls></video>
{% endblock %}
<!-- header : control -->
{% block control %}
{% endblock %}


{% block content %}

    <ol id="transcript-list">
        {% for sentence in keyword_sentences %}
            <li>
                <audio src=""></audio>
                <p>
                    {{sentence.text.prev}}
                    <strong class="keyword">{{sentence.text.keyword}}</strong>
                    {{sentence.text.next}}
                </p>
            </li>
        {% endfor %}
    </ol>

    <!-- 여기 -->
    <div id="effect-list">
    </div>
{% endblock %} 

{% block js %}
     <script>
    </script>
{% endblock %}