{% extends 'base.html' %}

{% block css %}
    <style>
        .hide {
            display: none;
        }
        .processing {
            pointer-events: none;
            color: #ccc;
        }
        .complete {
            color: #ff0000;
        }
        input[type="radio"]:checked+label{
            background-color: cyan;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/waveform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topdb.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
{% endblock %}


<!-- header -->
{% block video %}
    <!-- video -->
    <video id="input-video" src="{{ url_for('static', filename=video.src) }}" width = "280" height = "160" controls></video>
{% endblock %}

{% block control %}
<div id = "timeResult">
    <ul class="r1">
        <li id = "percent">00%</li>
        <li id = "v_result">0분 00초 중</li>
        <li id = "result_s">탐지된 무음구간은</li>
        <li id = "result">0분 00초</li>
    </ul> 

    <ul class="r2">
        <li id = "total">변환된 비디오의 재생시간</li>
        <li id = "total_duration">0분 00초</li>
    </ul>    
</div>

<!-- input topdb -->
<div id="tdb-process">
    <div id="tdb-form">
        <input type="number" id="tdb-input" min="10" max="50">
        <button type="button" id="tdb-submit">submit</button>
        <button type="button" id="export">export</button>
    </div>
</div>
{% endblock %}

<!-- content -->
{% block content %}
    <!-- waveform element -->
    <div id="waveform-player">
        <button id="play">
            <i class='fas fa-play'></i>
        </button>
        <div id="waveform"></div>
    </div>
    <!-- audio outputs -->
   <form id="split-outputs" action="{{ url_for('rm_silence_export', id = video.id) }}" method="POST" enctype="multipart/form-data"></form>
{% endblock %} 

{% block js %}
    <!-- library : wavesurfer.js, regions -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
    <!-- static js -->
    <script src="{{ url_for('static', filename='js/waveform.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/rm-silence.js') }}" type="text/javascript"></script>
    <!-- call function -->
    <script type="text/javascript">
        // waveform
        loadWaveform("{{ url_for('static', filename=audio.src) }}");
        // split, export
        const exportBtn = document.getElementById("export");
        const tdbBtn = document.getElementById("tdb-submit");
        tdbBtn.addEventListener("click", (e) => tdbSplit("{{ url_for('rm_silence_split', id=video.id) }}"));
        exportBtn.addEventListener("click", (e) => document.getElementById("split-outputs").submit());
    </script>
{% endblock %}