{% extends 'base.html' %}

{% block css %}
<style>
    .hide {
        display: none;
    }
    .processing {
        
    }
    .complete {

    }
    input[type="radio"]:checked+label{

    }
</style>
{% endblock %}


<!-- header -->
{% block video %}
    <!-- video -->
    <video id="input-video" src="{{ url_for('static', filename=video.path) }}" width = "280" height = "160" controls></video>
{% endblock %}

{% block control %}
    <!-- input topdb -->
    <div id="tdb-process">
        <div id="tdb-form">
        <!-- <input type="number" id="topdb_input" name="topdb" min="10" max="50"> -->
        <input type="number" id="tdb-input" min="1" max="50">
        <button type="button" id="tdb-submit">submit</button>
        <button type="button" id="export">export</button>
        </div>
    </div>
{% endblock %}

<!-- content -->
{% block content %}
    <!-- waveform element -->
    <div id="waveform-player">
        <button id="play">
            <i class='fas fa-play'></i>
        </button>
        <div id="waveform"></div>
    </div>
    <!-- audio outputs -->
   <form id="split-outputs" action="{{ url_for('rm_silence_export', id = video.id) }}" method="POST" enctype="multipart/form-data"></form>
{% endblock %} 

{% block js %}
    <!-- call function -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/rm_silence.js') }}"></script>
    <script type="text/javascript">
        // 
        const export_btn = document.getElementById("export");
        const topdb_btn = document.getElementById("topdb-submit");
        topdb_btn.addEventListener("click", () => tdb_split("{{ url_for('rm_silence_split', id=video.id) }}"));
        // export_btn.addEventListener("click", () => export_result("{{ url_for('rm_silence_export', id=video.id) }}"));
    </script>
{% endblock %}