{% extends 'base.html' %}

{% block css %}
<style>
    .hide {
        display: none;
    }
    .processing {
        color: #ccc;
    }
    .complete {
        color: #ff0000;
    }
    input[type="radio"]:checked+label{
        background-color: cyan;
    }
</style>
{% endblock %}


<!-- header -->
{% block video %}
    <!-- video -->
    <video id="input-video" src="{{ url_for('static', filename=video.src) }}" width = "280" height = "160" controls></video>
{% endblock %}

{% block control %}
    <!-- input topdb -->
    <div id="tdb-process">
        <div id="tdb-form">
        <input type="number" id="tdb-input" min="10" max="50">
        <button type="button" id="tdb-submit">submit</button>
        <button type="button" id="export">export</button>
        </div>
    </div>
{% endblock %}

<!-- content -->
{% block content %}
    <!-- waveform element -->
    <div id="waveform-player">
        <button id="play">
            ▶︎
            <i class='fas fa-play'></i>
        </button>
        <div id="waveform"></div>
    </div>
    <!-- audio outputs -->
   <form id="split-outputs" action="{{ url_for('rm_silence_export', id = video.id) }}" method="POST" enctype="multipart/form-data"></form>
{% endblock %} 

{% block js %}
    <!-- call function -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/rm-silence.js') }}"></script>
    <script type="text/javascript">
        const exportBtn = document.getElementById("export");
        const tdbBtn = document.getElementById("tdb-submit");
        tdbBtn.addEventListener("click", (e) => tdbSplit("{{ url_for('rm_silence_split', id=video.id) }}"));
        exportBtn.addEventListener("click", (e) => {
            document.getElementById("split-outputs").submit();
            // window.location.replace("{{ url_for('video_process_status', id=video.id) }}");
        });
    </script>
{% endblock %}