{% extends 'base.html' %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/archive.css') }}">
    <style>
        .hide {
            display: none;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.2;
        }
    </style>
    
{% endblock %}

<div id="container">
    <nav>
        <a href="{{ url_for('index') }}" id="home">HOME</a>
        <a href="{{ url_for('archive') }}" id="archive">ARCHIVE</a>
    </nav>
</div>

<main role="main">
    {% block content %}
    
    <!-- archive page title -->
    <div id = "title">
        <h1>Your Archive</h1>
        <p>지금까지 작업 한 영상 목록입니다</p>
    </div>

    <div style="overflow: auto;" class = "content-container">
        <div id = "archive-content-list">
            {% for i in range(data[0]|length): %}
                <div id="{{ data[0][i] }}" class = "archive-content">
                    <!-- title, date -->
                    <div class = "archive-page-title">
                        <h5 class = "video-title">
                            {{data[0][i]}}
                        </h5>
                        <h5 class = "a-video-date">
                            {{data[2][i]}}
                        </h5>
                        <h5 class = "a-video-time">
                            {{data[3][i]}}
                        </h5>
                    </div>

                    <div class = "a-vid-button">
                        <!-- {{data[1][i]}} -->
                        <div class = "rm_archive_vids">
                            <!-- 무음제거 -->
                            
                            <video class="vids" preload="metadata" src = "static/storage/{{data[0][i]}}/{{data[0][i]}}.mp4" controls>
                            </video>
                            <a class="process rm-silence" href="{{data[0][i]}}/rm_silence" >
                                <div  class = "loader hide"></div>
                                <div  class = "pre-checkmark">
                                    <div class="pre-checkmark_stem"></div>
                                    <div class="pre-checkmark_kick"></div>
                                </div>
                                <div class = "checkmark hide">
                                    <div class="checkmark_stem"></div>
                                    <div class="checkmark_kick"></div>
                                </div>
                                <span id="category">무음 제거</span>
                            </a>
                        </div>
                        <!-- {{data[0]}} -->
                        <!-- {{data[1]}} -->
                        <!-- 효과음, 무음 메뉴로 이동 + 상태(?) -->
                        <div class = "effect_archive_vids">
                            
                            <!-- 효과음 -->
                            <!-- <video class="vids" preload="metadata" src = "{{ url_for('static', filename=data[1][i]) }}" controls>
                            </video> -->
                            <video class="vids" preload="metadata" src = "static/storage/{{data[0][i]}}/{{data[0][i]}}.mp4" controls>
                            </video>
                            <a class="process add-effect" href="{{data[0][i]}}/add_effect">
                                <div class = "loader hide" id="loader"></div>
                                <div class = "pre-checkmark"id="pre-checkmark" >
                                    <div class="pre-checkmark_stem"></div>
                                    <div class="pre-checkmark_kick"></div>
                                </div>
                                <div class = "checkmark hide" id="checkmark" >
                                    <div class="checkmark_stem"></div>
                                    <div class="checkmark_kick"></div>
                                </div>
                                <span id="category">효과음 추가</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    {% endblock %}
</main>

{% block js %}
    <!-- static js -->
    <script src="{{ url_for('static', filename='js/archive.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
        var data = {{data|tojson}};
        var update_vids = {{update_vids|tojson}};

        var vid_list = [];
        // console.log(update_vids[0].add_effect);
        function update(update_vids){
            for (var i in data[0]){
                vid_list[vid_list.length] = data[0][i];
                for (var j =0; j<vid_list.length; j++){
                    // console.log("++++++++++++++");
                    // console.log(vid_list[j]);
                    // console.log(update_vids[j]['rm_silence']['status']);
                    // console.log(update_vids[j]['add_effect']['status']);
                    // console.log("---------");

                    // console.log(update_vids[j]['rm_silence']['src']);
                    
                    updateStatus(vid_list[j], '.rm_archive_vids', update_vids[j]['rm_silence']['status'], 'static/'+update_vids[j]['rm_silence']['src']);
                    updateStatus(vid_list[j], '.effect_archive_vids', update_vids[j]['add_effect']['status'], 'static/'+update_vids[j]['add_effect']['src']);
                    // console.log("---updated---");
                };
                
            };

        };
        update(update_vids);
        </script>
{% endblock %}
