{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
    <h1>영상을 업로드하세요</h1>
    <p>mp4 확장자를 지원합니다</p>
{% endblock %}

{% block video %}
    <form id="input-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <label id="input-label" for="input-file">
            <span>Choose file</span>
        </label>
        <input type="file" id="input-file" name="video" onchange="this.form.submit();" accept="video/mp4"/>
    </form>
{% endblock %}

{% block content %}
    <!-- 파일 리스트 -->
    <div class="content-container">
        <div id = "i-archive-content-list">
            <h3>ARCHIVE</h3>
            {% for i in range(len(data[0])) %}
                {% if 3 >= i %}
                <div class="archive-content">   
                    <video class="archive-vids" src = "{{ url_for('static', filename=data[1][0]) }}" controls>
                    </video>
                    <div class = "vid-info">
                        <h3 class="archive-title">
                            {{data[0][i]}}
                        </h3>
                        <h3 class="video-date">
                            {% set date = data[2][i].split('.') %}
                            {{date[0]}}
                        </h3>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <a class="archBtn" href="{{ url_for('archive') }}" id="archive">
                VIEW MORE
            </a>
        </div>

        <!-- 진행중인 작업 -->
        <div id = "work-in-progress">
            <h3>Work In Progress</h3>
            <div class="progress-content">
                <!-- <div id = "progress-video-info"> -->
                    <video preload="metadata" src = "{{vid}}" class="working-vid" controls>
                    </video>
                    <div class="working-vid-info">
                        <div class="progress-title">
                            <p>title name</p>
                        </div>
                        <div class="progress-status"></div>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    
    
{% endblock %}