@import "style.css";
@import "process.css";

/* RIGHT - grid */
#right {
    display: grid;
    grid-template-columns: 720px 1fr;
}

.grid-header span,
.select > div{
    margin-left: 16px;
}

#sentence-list ol,
#effect-list ul {
    overflow: scroll;
    height: calc(100vh - 147px);
}


/* RIGHT - grid - header */
.grid-header{
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #E1E1E1;
}
.grid-header span {
    border-right: 1px solid #E1E1E1;
}

/* SENTENCES */
#sentence-list {
    height: 100%;
}

#sentence-list li {
    color: #999CA7;
}

#sentence-list .keyword {
    border: 1px solid #5278FF;
    padding: 4px 6px;
    color: #5278FF;
    background-color: #fff;
    border-radius: 4px;
}

/* SENTENCES - grid */
#sentence-list h5,
#sentence-list li {
    display: grid;
    grid-template-columns: 1fr 272px;
}

#sentence-list h5 > div,
#sentence-list li > div {
    border-right: 1px solid #E1E1E1;
}

#sentence-list #selected > div:last-child {
    border-right: inherit;
}

/* SENTENCES - items : sentence */
#sentence-list ol {
    display: grid;
    grid-auto-rows: 80px;
}

#sentence-list li {
    width: 100%;
    border-bottom: 1px solid #E1E1E1;
    line-height: 80px;
}

#sentence-list .sentence {
    display: grid;
    grid-template-columns: 80px 1fr;
}

#sentence-list .play {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
}

#sentence-list .timestamp {
    text-align: center;
    font-size: 10px;
    line-height: 24px;
}

/* SENTENCES - items : selected */
#sentence-list .sentence:hover {
    cursor: pointer;
}
#sentence-list li.hover {
    background-color: #f7f8f9;
}

#sentence-list #selected {
    background-color: #f0f2f8;
    border-right: 1px solid #E1E1E1;
    border-bottom: 3px solid #5278FF;
}
#sentence-list #selected .play:hover,
.fa-stop {
    color: #5278FF;
}

#sentence-list #selected .text {
    color: #5278ff71;
}

/* SENTENCES - items : select */
.select {
    display: flex;
}

.select > *{
    padding-top: 2px;
}

.select > * > span {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

/* SENTENCES - items : select-effect */
.select-effect {
    flex-grow: 1;
    line-height: 20px;
}

.select-effect .effect {
    display: flex;
    align-items: center;
    height: 42px;
    background-color: #5278FF;
    color: #fff;
    border-radius: 4px;
    transition: 0.2s;
}

.select-effect .name {
    flex-grow: 1;
    text-align: center;
    font-size: 14px;
    padding-left: 12px;
}

.select-effect .remove-btn {
    width: 24px;
    line-height: 42px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* btn for empty */
.effect.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F8;
    color: #afb3c0;
    padding-left: 0;
    font-weight: 600;
    font-size: 18px;
}
.effect.empty .name {
    display: none;
    font: inherit;
    padding-left: 0px;
}
.effect.empty .remove-btn {
    display: none;
}
.sentence:hover + .select .select-effect .effect.empty .name,
#selected .effect.empty .name{
    display: inline;
    background-color: #dfe2eb;
    line-height: 42px;
    border-radius: 4px;
}

.select-effect .remove-btn:hover{
    background-color: #3357d8;
}

/* SENTENCES - items : select-position */
.select-position {
    width: 72px;
    line-height: 20px;
}

.select-position div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 48px;
    padding-left: 12px;
}

.select-position input {
    margin: 0;
}

/* SENTENCES - items : select-position - cursor */
.select-position span > * {
    cursor: pointer;
}

.select-position input[type=radio]:checked,
.select-position input[type=radio]:checked + label {
    pointer-events: none;
}

.select-position input[type=radio]:checked + label {
    color: #5278FF;
}


/* EFFECTS */
#effect-list {
    background-color: #F0F2F8;
}

/* #effect-lib > li {
    padding: 10%;
} */

#effect-lib li > h4 {
    font-size: 17px;
    font-weight: 700;
    color: #5D5D5D;
    margin: 15px 7px 3px 7px;
}


.effect-item label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 100px;
    height: 20px;
    cursor: pointer;
    list-style: none;
    
}

.active > .effect-item label{
    box-shadow: 0px 0px 8px rgba(82, 120, 255, 0.2);
}

.effect-item label:hover {
    border: 1px solid #5278FF;
    color: #5278FF;
}

.effect-item input[type=radio]:checked + label {
    border: 1px solid #5278FF;
    color: #5278FF;
}

#effect-lib > li {
    float:left;
    height:200px;
    width: 140px;
    margin:10px 0px 0px 30px;
    padding: 20px 0px 10px 0px;
}

#effect-lib >li:nth-child(even){
    margin-right:0;
}