@import "style.css";


#home  {
    color: #444444;
    border-bottom: none;
}
#archive {
	color: #5278FF;
    border-bottom: 2px solid #5278FF;
}


main {
    width: 740px;
    margin: 0 auto;
}

video {
    width: 200px;
    border-radius: 4px;
}

.archive-item {
    display: flex;
    flex-direction: row;
    padding-right: 20px;

    width: 740px;
    border-bottom: 1px solid #E1E1E1;
}

.archive-item-list {
    display: flex;
    flex-direction: row;
    width: inherit;
    margin: 8px;

}


.archive-content {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    width: 560px;
}

.process-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    width: 130px;
    height: 88px;
}


.archBtn {
    text-align: right;
    color: #5278FF;
    font-size: 0.8rem;
    cursor: pointer;
    float: right;
    text-decoration: underline; 
    text-underline-position:under;
    margin: 5px;
    
}

.archive-vids {
    border-radius: 6px;
    width: 30%;
}

.vid-info {
    width: 300px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    
}

.vid-title {
    display: flex;
    flex-direction: row;
    margin: 5px 17px;
    color: #444444;
    font-weight: 700;
    font-size: 1.2rem;
    flex-wrap: wrap;
}
.vid-timedate {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px 17px;
    color: #E1E1E1;
}

/* loader */
.loader::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    border-top-color: #5278FF;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
  
@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

/* download 아이콘 바꿔라*/
.download::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    content: '\f019';
    color: #5278FF;
    font-weight: 900;
}

/* 아직 클릭 불가 */
.disabled::before {
    font-family: "Font Awesome 5 Free";
    content: '\f30b';
    color: #F0F2F8;
    font-weight: 900;
}

/* 준비됨 (이동가능) */
.start::before {
    font-family: "Font Awesome 5 Free";
    content: '\f30b';
    color: #5278FF;
    font-weight: 900;
}

a.process {
    display: flex;
    align-items: center;
    line-height: 16px;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background-color: #F0F2F8;
}

a.process.active {
    background-color: #5278FF;
    color: #F0F2F8; 
}

.status {
    background-color: #FFF;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    margin: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3.5px;
}

.category {
    margin-left: 4px;
}

#menu-archive {
    font-size: 1.5rem;
    color: #444444;
    font-weight: 700;
    margin: 6px ;
    padding: 10px;
}

#archive-title {
    font-size: 2.3rem;
    color: #444444;
    font-weight: 700;
    margin: 45px 10px 35px 15px;
    padding: 10px;
}

.vid-thumbnail {
    display: flex;
    flex-direction: column;
}

.a-vid-button {
    display: flex;
    flex-direction: column;
}
