@import "index.css";

#home  {
    color: #444444;
    border-bottom: none;
}
#archive {
	color: #5278FF;
    border-bottom: 2px solid #5278FF;
}

#archive-title {
    display: flex;
    flex-direction: row;
    margin: 70px 25px 30px 25px;
    color: #444444;
    font-weight: 700;
    font-size: 35px;
}


