@import "archive.css";

.hide {
    display: none;
}

.disabled {
    pointer-events: none;
}

#home {
	color: #5278FF;
    border-bottom: 2px solid #5278FF;
}

#archive {
	color: #444444;
    border-bottom: none;
}

main {
    width: 740px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#page-title {
    display: flex;
    flex-direction: row;
    margin: 50px auto 20px;
    color: #444444;
    font-weight: 800;
    font-size: 50px;
}

#page-sub {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin: 0px auto;
    color: #999CA7;
    font-weight: 350;
    font-size: 16px;
    text-align: center;
}

#sub-main {
    display: flex;
    width: 500px;
    flex-direction: column;
    margin: 5px auto;
    color: #6E6E6E;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}


#input-file {
    display: none;
}

#input-form {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    align-items: center;
}


#upload-label:hover {
    cursor: pointer;
}

#upload-label > span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    background-color: #5278FF;
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 8px 40px;
}

#upload-loader.processing::before {
    position: absolute;
    left: 10px;
    top: 25%;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    border-top-color: #F0F2F8;
    animation: spin 0.6s ease-in-out infinite;
    -webkit-animation: spin 0.6s ease-in-out infinite;
}

#uploads-form label.processing::before {
    position: absolute;
    left: 4%;
    top: 25%;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    border-top-color: #5278FF;
    animation: spin 0.6s ease-in-out infinite;
    -webkit-animation: spin 0.6s ease-in-out infinite;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

