@import "archive.css";

.hide {
    display: none;
}

.disabled {
    pointer-events: none;
}

#home {
	color: #5278FF;
    border-bottom: 2px solid #5278FF;
}

#archive {
	color: #444444;
    border-bottom: none;
}

main {
    width: 740px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

#page-title {
    display: flex;
    flex-direction: row;
    margin: 50px auto 20px;
    color: #444444;
    font-weight: 800;
    font-size: 50px;
}

#page-sub {
    display: flex;
    width: 500px;
    flex-direction: row;
    margin: 0px auto;
    color: #999CA7;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

#input-file {
    display: none;
}

#input-form {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}

#upload-label:hover {
    cursor: pointer;
}

#upload-label > span {
    vertical-align: middle;
    border-radius: 6px;
    background-color: #5278FF;
    font-size: 1.3rem;
    color: #FFFFFF;
    padding: 8px 40px;
}