/* tdb : input style */
#topdb_process{
    width: 280px;
}

#topdb_form{
    display: flex;
    justify-content: space-between;
}

#topdb_input {
    flex-grow: 1;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #888;
    text-align: center;
    margin-right: 4px;
 }
 
/* tdb : submit button sytle */
#topdb_submit {
    width: 60px;
    line-height: 22px;
    background-color: #61605c;
    color: white;
    border-radius: 4px;
    font-weight: 200;
    cursor: pointer;
}

#topdb_submit:hover{
       background-color: #afafaf;
}


/* split : output style */
#split_outputs{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

#split_outputs label{
    display: inline-block;
    padding: 10px 28px;
    margin: 0 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
}


#split_outputs label:hover{
    background-color: #e9e9e9;
}

#split_outputs input:checked+label{
    color: #fff;
    background-color: #61605c;
}

#timeResult > ul{
    display: inline-block;
    margin-right: 80px;
}

.r2 > li{
    display: inline-block;
}

#percent, #total_duration{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    width: 120px;
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 0.5rem;
}

#result_s, #v_result, #total{
    font-size: 16px;
    font-weight: bold;
    margin-right: 8px;
}

#result{
    color: white;
    width: 120px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:20px;
    background-color: rgb(49, 49, 49);
    border-radius: 0.5rem;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}