@import "style.css";

main {
    width: 960px;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-top: 80px;
}

/* PROCESS */
#process {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

#process > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PROCESS - status - line */
#process::before {
    position: absolute;
    content: '';
    display: block;
    width: 680px;
    border-left: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    left: 0;
    right: 0;
    margin: 16px auto;
    z-index: -1;
}

/* PROCESS - status - icon holder */
.status {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROCESS - status - icon */
.status::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5278FF;
}

.icon::before {
    width: 32px;
    height: 32px;
    color: #fff;
}

/* PROCESS - title */
#process h3 {
    font-size: 24px;
    font-weight: 400;
    color: #5278FF;
    margin-top: 4px;
}

/* PROCESS - placeholder */
.placeholder {
    width: 280px;
    border-radius: 4px;
    margin-top: 12px;
}

.placeholder > * {
    all: inherit;
}

/* for responsive web */
@media screen and (max-width: 960px) {
    body main {
        width: 80%;
    }

    body #process {
        flex-direction: column;
    }

    body #process::before{
        width: 0;
        height: 300px;
        left: calc((100% - 376px)/2 + 16px);
        right: auto;
    }
    
    body #process .status{
        margin-right: 8px;
    }
    

    body #process > div {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 16px;
    }

    body #process h3 {
        width: 96px;
    }

    body #process .placeholder {
        width: 240px;
        margin-top: 0;
    }
}