{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_effect.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
{% endblock %}


<!-- header : video -->
{% block video %}
 <video id="input-video" src="{{ url_for('static', filename=video.path) }}" width = "280" height = "160" controls></video>
{% endblock %}
<!-- header : control -->
{% block control %}
{% endblock %}


{% block content %}
   
    <ol id="transcript-list">
        {% for sentence in keyword_sentences %}
            <li>
                <audio src=""></audio>
                <p>
                    {{sentence.text.prev}}
                    <strong class="keyword">{{sentence.text.keyword}}</strong>
                    {{sentence.text.next}}
                </p>
            </li>
        {% endfor %}
    </ol>

    <!-- 여기 -->
    <div id="effect-list">

        <div class="radio">
            <input type="radio" id="front" name="where" value="front" 
                   checked>
            <label for="front">앞</label>
        
            <input type="radio" id="back" name="where" value="back">
            <label for="back">뒤</label>
          </div>
        <p>효과음 라이브러리</p>
        <p>short effect</p>
        <div class="short">

            <h4>뾱</h4>
            <div id = "short_bbyok"></div>
           
            <script>
                var i = 1;
            </script>
            {% for file in short_effect[0][:] %}
                
                <script type="text/javascript">
                    document.write('<audio id='+"short_bbyok0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    short_bbyok.innerHTML += `<button class="btn0${i}" onclick="play_short_bbyok0${i}()" style="cursor:pointer">뾱${i}</button>`;
                    function play_short_bbyok01() {
                        var x = document.getElementById("short_bbyok01");
                        x.play();
                    }
                    function play_short_bbyok02() {
                        var x = document.getElementById("short_bbyok02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>띵</h4>
            <div id = "short_dding"></div>
            <script>
                var i = 1;
            </script>
            {% for file in short_effect[1][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"short_dding0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    short_dding.innerHTML += `<button class="btn0${i}" onclick="play_short_dding0${i}()" style="cursor:pointer">띵${i}</button>`;
                    function play_short_dding01() {
                        var x = document.getElementById("short_dding01");
                        x.play();
                    }
                    function play_short_dding02() {
                        var x = document.getElementById("short_dding02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>휙</h4>
            <div id = "short_swish"></div>
            <script>
                var i = 1;
            </script>
            {% for file in short_effect[2][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"short_swish0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    short_swish.innerHTML += `<button class="btn0${i}" onclick="play_short_swish0${i}()" style="cursor:pointer">휙${i}</button>`;
                    function play_short_swish01() {
                        var x = document.getElementById("short_swish01");
                        x.play();
                    }
                    function play_short_swish02() {
                        var x = document.getElementById("short_swish02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>별가루</h4>
            <div id = "short_star"></div>
            <script>
                var i = 1;
            </script>
            {% for file in short_effect[3][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"short_star0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    short_star.innerHTML += `<button class="btn0${i}" onclick="play_short_star0${i}()" style="cursor:pointer">별가루${i}</button>`;
                    function play_short_star01() {
                        var x = document.getElementById("short_star01");
                        x.play();
                    }
                    function play_short_star02() {
                        var x = document.getElementById("short_star02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}
        </div>

        <p>long effect</p>
        <div class="long">

            <h4>뾰롱</h4>
            <div id = "long_bbyorong"></div>
            <script>
                var i = 1;
            </script>
            {% for file in long_effect[0][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"long_bbyorong0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    long_bbyorong.innerHTML += `<button class="btn0${i}" onclick="play_long_bbyorong0${i}()" style="cursor:pointer">뾰롱${i}</button>`;
                    function play_long_bbyorong01() {
                        var x = document.getElementById("long_bbyorong01");
                        x.play();
                    }
                    function play_long_bbyorong02() {
                        var x = document.getElementById("long_bbyorong02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>띠링</h4>
            <div id = "long_ddiring"></div>
            <script>
                var i = 1;
            </script>
            {% for file in long_effect[1][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"long_ddiring0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    long_ddiring.innerHTML += `<button class="btn0${i}" onclick="play_long_ddiring0${i}()" style="cursor:pointer">띠링${i}</button>`;
                    function play_long_ddiring01() {
                        var x = document.getElementById("long_ddiring01");
                        x.play();
                    }
                    function play_long_ddiring02() {
                        var x = document.getElementById("long_ddiring02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>휘익</h4>
            <div id = "long_swish"></div>
            <script>
                var i = 1;
            </script>
            {% for file in long_effect[2][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"long_swish0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    long_swish.innerHTML += `<button class="btn0${i}" onclick="play_long_swish0${i}()" style="cursor:pointer">휘익${i}</button>`;
                    function play_long_swish01() {
                        var x = document.getElementById("long_swish01");
                        x.play();
                    }
                    function play_long_swish02() {
                        var x = document.getElementById("long_swish02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}

            <h4>별가루</h4>
            <div id = "long_star"></div>
            <script>
                var i = 1;
            </script>
            {% for file in long_effect[3][:] %}
                <script type="text/javascript">
                    document.write('<audio id='+"long_star0"+i+'>');
                    document.write('<source src="{{ url_for('static', filename='sound-effect/'+file) }}" type="audio/mpeg">')
                    document.write('</audio>')
                    long_star.innerHTML += `<button class="btn0${i}" onclick="play_long_star0${i}()" style="cursor:pointer">별가루${i}</button>`;
                    function play_long_star01() {
                        var x = document.getElementById("long_star01");
                        x.play();
                    }
                    function play_long_star02() {
                        var x = document.getElementById("long_star02");
                        x.play();
                    }
                    i++;
                </script>
            {% endfor %}
        </div>
    </div>

    <!-- <div id="add-effect-control">
        <ol id="transcript-list">
            {% for sentence in keyword_sentences %}
                <li>
                    <audio src=""></audio>
                    <p>
                        {{sentence.text.prev}}
                        <strong class="keyword">{{sentence.text.keyword}}</strong>
                        {{sentence.text.next}}
                    </p>
                </li>
            {% endfor %}
        </ol>
        <div id="effect-list"></div>
    </div> -->

{% endblock %} 

{% block js %}

     <script>
         $(window).scroll(function(){
        var scrollTop = $(document).scrollTop();
        if (scrollTop < 10) {
        scrollTop = 10;
        }
        $("#effect-list").stop();
        $("#effect-list").animate( { "top" : scrollTop });
        });


       // const btn = document.querySelector(".btn1");
        //클릭한 리스트의 문장시작, 키워드시작, 키워드끝나는 시간 받아오기
        const sentences = JSON.parse('{{keyword_sentences | tojson}}');

        $("li").click(function(){
            var idx = $("li").index(this);
            present_idx = get_index(idx);
            console.log(present_idx);
            time_info = time_process(present_idx);
         });  

        function get_index(idx){
        return idx;
        };

        function time_process(idx){
            //인덱스 별로 시간들 가져와서 변수에 할당
            var senten_start = sentences[idx]['time']['sentence']['start'];
            var senten_end = sentences[idx]['time']['sentence']['end'];
            var keyword_start = sentences[idx]['time']['keyword']['start'];
            var keyword_end = sentences[idx]['time']['keyword']['end'];
            
            var effect_time_f = keyword_start - senten_start;
            var effect_time_b = keyword_end - senten_start;
            console.log(senten_start,senten_end);
            //여러 값 리턴해주기
            return {keyword_start : keyword_start,
                    keyword_start : keyword_end,
                    effect_time_f : effect_time_f,
                    effect_time_b : effect_time_b,
                    senten_start : senten_start,
                    senten_end : senten_end
            };
        };


        function to_get_time_list(op_where, time_info){
            if (op_where == 'front'){
                //console.log("d")
            return { effect_time : time_info.effect_time_f,
                    export_time : time_info.keyword_start
                };
        }
            else{
                return {effect_time : time_info.effect_time_b,
                        export_time : time_info.keyword_end
                };
            }
    };
    
        function add_effect(eidx){
           console.log(edix);
        };
    </script>
{% endblock %}