{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block content %}
    <!-- 비디오 파일 업로드 폼 -->
    <form id="input-form" action="/process" method="POST" enctype="multipart/form-data">
        <label id="input-label" class="video_placeholder" for="input-file">
            <span>Choose file</span>
        </label>
        <input type="file" id="input-file" name="input-file" onchange="this.form.submit();" accept="video/mp4, video/wav"/> <!--// ""/>-->
    </form>
{% endblock %}