{% extends 'layout.html' %}

{% block content %}
    <!-- 업로드 -->
    <form id="input-form" action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
        <label id="input-label" for="input-file">
            <span>
                Choose file
            </span>
        </label>
        <video id="input-video" class="hide" controls width = "280" height = "160" type='video/mp4'></video>
        <input type="file" id="input-file" name="input-file" onchange="loadFile()" accept="video/mp4, video/wav"/> <!--// ""/>-->
    </form>

    <!-- 정보 -->
    <table>
        <tbody id="tb"></tbody>
    </table>
{% endblock %}