{% extends 'layout.html' %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

<!-- header : video -->
{% block video %}
    <form id="input-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <label id="input-label" for="input-file">
            <span>Choose file</span>
        </label>
        <input type="file" id="input-file" name="input-file" onchange="this.form.submit();" accept="video/mp4, video/wav"/> <!--// ""/>-->
    </form>
{% endblock %}
<!-- header : control -->
{% block control %}
    <ul id="menu">
        <li>
            <a href="">무음제거</a>
        </li>
        <li>
            <a href="">효과음</a>
        </li>
    </ul>
{% endblock %}

<!-- content -->
{% block content %}
{% endblock %}