<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>REMOVE SILENCE - {{title}}</title>
    {% else %}
        <title>REMOVE SILENCE</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}" id="home">HOME</a>
        </nav>
    </header>

    <main role="main">
        <h1>{{ title.main }}</h1>
        <p>{{ title.sub }}</p>
        {% block content %}
        {% endblock %}
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>