<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>REMOVE SILENCE - {{title.main.split(' ')[0]}}</title>
    {% else %}
        <title>REMOVE SILENCE</title>
    {% endif %}
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    <!-- remove favicon.ico error -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div id="container">
        <nav>
            <a href="{{ url_for('index') }}" id="home">HOME</a>
        </nav>
        <header>
            <div id="video_container">
                {% block video %}
                {% endblock%}
            </div>
            <div id="info_container">
                <div id="title">
                    <h1>{{ title.main }}</h1>
                    <p>{{ title.sub }}</p>
                </div>
                <div id="control">
                    {% block control %}
                    {% endblock%}
                </div>
            </div>
        </header>
    
        <main role="main">
            {% block content %}
            {% endblock %}
        </main>
        {% block js %}
        {% endblock %}
    </div>
</body>
</html>