{% extends 'layout.html' %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

<!-- header : video -->
{% block video %}
    <video id="input-video" src="{{ url_for('static', filename='temp/'+src) }}" width = "280" height = "160" controls></video>
{% endblock %}
<!-- header : control -->
{% block control %}
    <ul id="menu">
        <li>
            <a href="">무음제거</a>
        </li>
        <li>
            <a href="">효과음</a>
        </li>
    </ul>
{% endblock %}

<!-- content -->
{% block content %}
{% endblock %}