{% extends 'layout.html' %}

<!-- css -->
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/video_page.css') }}">
{% endblock %}

<!-- header : video -->
{% block video %}
    <video id="input-video" src="{{ url_for('static', filename = video.path) }}" width = "280" height = "160" controls></video>
{% endblock %}

<!-- content -->
{% block content %}
    <ul id="menu">
        <li>
            <h3>무음제거</h3>
            <div class="process">
                <a href="{{ url_for('rm_silence', id = video.id) }}">시작하기</a>
            </div>
        </li>
        <li>
            <h3>효과음</h3>
            <div class="process">
                <a href="{{ video.id }}/add_effect">시작하기</a>
            </div>
        </li>
    </ul>
{% endblock %}