{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/waveform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topdb.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}
    <video id="input-video" class="video_placeholder" src="{{ url_for('static', filename='temp/'+file.name) }}" width = "280" height = "160" controls></video>
    {% include 'process/waveform.html' %}
    {% include 'process/topdb.html' %}
{% endblock %} 

{% block js %}
    <script src="{{ url_for('static', filename='js/process.js') }}" type="text/javascript"></script>
{% endblock %}