{% extends 'layout.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/waveform.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topdb.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
{% endblock %}


<!-- header -->
{% block video %}
<!-- video -->
    <video id="input-video" src="{{ url_for('static', filename='temp/'+video.name) }}" width = "280" height = "160" controls></video>
{% endblock %}
<!-- input topdb -->
{% block control %}
    <div id="topdb_process">
        <div id="topdb_form">
        <input type="number" id="topdb_input" name="topdb" min="10" max="50">
        <button type="button" id="topdb_submit" onclick="input_topdb('{{url_for('rm_silence_preview', id = video.id)}}')">submit</button>
        </div>
    </div>
{% endblock %}

<!-- content -->
{% block content %}
    <!-- waveform element -->
    <div id="waveform_player">
        <div id="waveform"></div>
        <button id="play" class="">Play</button>
    </div>
    <!-- audio outputs -->
   <div id="audio_outputs"></div>
{% endblock %} 

{% block js %}
    <script src="{{ url_for('static', filename='js/rm_silence.js') }}" type="text/javascript"></script>
    <!-- main wavesurfer.js lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/wavesurfer.min.js"></script>
    <!-- wavesurfer.js regions -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
    <!-- our waveform.js -->
    <script src="{{ url_for('static', filename='js/waveform.js') }}" type="text/javascript"></script>
    <!-- call loader -->
    <script type="text/javascript">
        load_waveform('{{ url_for('static', filename='temp/' + video.name) }}');
    </script>
{% endblock %}