main {
    display: flex;
}

#transcript-list {
    flex-grow: 1;
    padding-top: 1rem;
    padding-right: 1rem;
}

#transcript-list li,
#transcript-list p,
#transcript-list strong {
    display: flex;
    align-items: center;
}
#transcript-list li{
    height: 3.5rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

#transcript-list .keyword {
    display: inline-block;
    padding: 0.3rem;
    margin: 0 0.2rem;
    height: 1rem;
    background-color: rgb(255, 212, 212);
    border-radius: 0.3rem;
    font-weight: 700;
}

#effect-list {
    flex-grow: 4;
    padding: 1rem;
    margin: 0 0.2rem;
    background-color: floralwhite;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
}

#effect-list p {
    font-size: x-large;
    font-weight: bold;
}

.long, .short{
    background-color: white;
    flex-grow: 2;
    padding: 1rem;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

}