/* layout style */
* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #444;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hide {
    display: none;
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    box-sizing: border-box;
    line-height: 160px;
    margin: 0 140px;
}
nav > a {
    display: inline-block;
    vertical-align: middle;
    font-weight: 200;
}

main {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 280px;
    height: 240px;
    border-radius: 24px;
    text-align: center;
}


/* index style */
main > h1 {
    font-weight: 700;
}

main > p {
    color: rgb(177, 177, 177);
}

form > input {
    display: none;
}

form > label, video {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    margin: 20px auto;
    display: block;
    line-height: 160px;
    border-radius: 16px;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ccc;
    border-style: dashed;
}

form > label:hover {
    cursor: pointer;
}

form > label > span {
    display: inline-block;
    vertical-align: middle;
    color: rgb(219, 219, 219);
    font-weight: 20 0;
    font-size: 20px;
}       

form > table {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}


/* process style */
.download {
    border: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    line-height: 40px;
    border-radius: 8px;
    background-color: rgb(129, 160, 117);
    color: #fff;
    font-weight: 300;
}