/* input style */
#topdb_process{
    width: 280px;
}

#topdb_form{
    display: flex;
    justify-content: space-between;
}

#topdb_input {
    flex-grow: 1;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #888;
    text-align: center;
    margin-right: 4px;
 }
 
/* submit button sytle */
#topdb_submit {
    width: 60px;
    line-height: 22px;
    background-color: rgb(97, 96, 92);
    color: white;
    border-radius: 4px;
    font-weight: 200;
    cursor: pointer;
}

#topdb_submit:hover{
       background-color: rgb(175, 175, 175);
}

/* player style */
#audio_outputs .audio_output{
    margin-top: 20px;
}

#audio_outputs .player{
    width: 100%;
}

#audio_outputs .btn_wrapper{
    display: flex;
    margin: 0 auto;
    width: 90%;
}

#audio_outputs .btn.download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin: 0 2px;
    width: 90%;
    height: 28px;
    font-weight: 200;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(141, 158, 132);
}

#audio_outputs .btn.showmute{
    width: 80px;
    background-color: rgb(138, 135, 126);
}

#audio_outputs .btn.delete{
    text-align: center;
    width: 20px;
    background-color: #fff;
}

#audio_outputs .btn.delete i {
    color: rgb(100 100 100);
    font-size: 12px;
}